/*
0 - 600px: phone;
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 -1800px] normal styles
1800px +: Big desktop

$breakpoints argument
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  @media (max-width: 56.25em) {
    .heading-primary {
      margin: 6.5rem 0 0 1rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      margin: 6.5rem 0 0 1rem; } }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    margin-bottom: .8rem;
    animation: moveInLeft 3s ease-out; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 3rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 1.8rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .8rem;
    animation: moveInRight 3s ease-out; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 1.8rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: translateY(-1rem) scale(1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1.5rem; } }

.heading-tetiary, .heading-tetiary-2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tetiary-2 {
    color: #7ed56f; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: .7rem; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-bottom: 1.5rem; }

.u-margin-top-medium {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-right-small {
  margin-right: 1rem; }

.btn-block {
  display: block;
  width: 100%; }

.btn {
  text-align: center; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 1.5rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scale(1.4);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #ffffff;
    color: #777777; }
    .btn--white::after {
      background-color: #ffffff; }
  .btn--yellow {
    background-color: #ffb900;
    color: #777777; }
    .btn--yellow::after {
      background-color: #ffb900; }
  .btn--green {
    background-color: #55c57a;
    color: #ffffff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInFromBottom 3s ease-out .75s;
    animation-fill-mode: backwards; }
  .btn-2 {
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1rem;
    display: inline-block;
    border-radius: .2rem;
    font-size: 1.6rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 15rem; }
  .card__side {
    transition: all .8s ease;
    height: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .6rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side::after {
      content: "";
      clear: both;
      display: table; }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  @media (max-width: 56.25em) {
    .card:active .card__side--front {
      transform: rotateY(-180deg); }
    .card:active .card__side--back {
      transform: rotateY(0); } }
  @media (max-width: 37.5em) {
    .card {
      margin-bottom: 2rem; } }
  .card__sp {
    float: left; }
  .card__image {
    width: 40%;
    height: 100%; }
  .card__details {
    width: 60%;
    padding: 3rem 0 0 1rem;
    color: #000; }
    .card__details h4 {
      font-size: 2rem;
      text-transform: uppercase; }
    .card__details-ingredient {
      font-size: 1.3rem;
      text-transform: capitalize; }
    .card__details-price {
      font-size: 2rem;
      font-weight: 500;
      color: #000; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }

.cart__heading {
  font-size: 4rem;
  text-align: center; }

.cart__table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto; }
  .cart__table tr:not(:last-child) {
    border-bottom: 0.2rem solid #b8b6b6; }
  .cart__table th {
    font-size: 2rem;
    text-align: left;
    padding: 2rem; }
  .cart__table td {
    height: 20rem;
    width: 30%;
    padding: 2rem; }
  .cart__table-image {
    height: 100%;
    width: 100%;
    max-width: 30rem;
    padding: 1rem;
    border: 0.2rem solid #b8b6b6; }
  .cart__table-title {
    font-size: 2.5rem; }
  .cart__table-price {
    font-size: 1.8rem;
    font-weight: 800; }

.cart__btn {
  height: 6rem;
  padding: 1rem 2rem;
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-align: center; }
  .cart__btn-edit {
    background-color: #ffb900;
    margin-bottom: 1rem; }
  .cart__btn-delete {
    background-color: #d84545;
    margin-bottom: 1rem; }

.checkout {
  height: auto;
  padding: 2rem;
  margin: 3rem 0;
  background-color: #e5ecee; }
  .checkout__heading {
    font-size: 2rem;
    color: #000;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid rgba(184, 182, 182, 0.4); }
  .checkout__details {
    width: 100%;
    font-size: 1.5rem; }
    .checkout__details ul {
      list-style: none; }
      .checkout__details ul li {
        margin-bottom: 1rem; }
        .checkout__details ul li:first-child, .checkout__details ul li:last-child {
          font-weight: 800; }
    .checkout__details-total {
      float: right; }
  .checkout__payment-method {
    margin: 2rem 0; }
    .checkout__payment-method-heading {
      font-size: 1.7rem;
      color: #000; }
    .checkout__payment-method-body {
      height: 10rem;
      background-color: #ffffff;
      padding: 2rem; }

.billing {
  margin: 3rem 0;
  padding: 0 2rem; }
  .billing__heading {
    font-size: 2rem;
    color: #000;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid rgba(184, 182, 182, 0.4); }
  .billing__details-title {
    font-size: 1.7rem;
    margin-top: 1.5rem; }
  .billing__details-content {
    font-size: 1.5rem;
    letter-spacing: .5rem; }

.form {
  padding: 3rem; }
  .form__heading {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 1rem; }
  .form__input {
    display: block;
    height: 3.2rem;
    width: 100%;
    border: 0.2rem solid rgba(184, 182, 182, 0.4);
    padding: 1rem; }
    .form__input:not(:last-child) {
      margin-bottom: 1rem; }

.motd__photo-main {
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: .2rem;
  transition: all .2s;
  outline-offset: 1rem; }
  .motd__photo-main:hover {
    outline: 1rem solid #55c57a;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.motd__text-box {
  padding: 4rem 0 0 3rem; }
  @media (max-width: 56.25em) {
    .motd__text-box {
      padding: 0; } }

@media (max-width: 56.25em) {
  .motd__btn {
    display: block;
    width: 100%;
    border-radius: .7rem !important; } }

.order__photo-main {
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: .2rem;
  transition: all .2s;
  outline-offset: 1rem; }
  .order__photo-main:hover {
    outline: 1rem solid #55c57a;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.order__text-box {
  padding: 4rem 0 0 3rem; }

.order__description-box {
  border: 0.2rem solid rgba(184, 182, 182, 0.2);
  padding: 1rem; }

.order__description {
  height: 4rem;
  background-color: #777777;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center; }
  .order__description-details {
    font-size: 1.6rem; }
  .order__description-ingredients {
    padding-top: 1rem;
    font-size: 1.6rem; }

.footer {
  min-height: 25rem;
  background-color: #161616; }
  .footer__box {
    padding: 7rem 0 0 3rem;
    color: #b8b6b6; }
  .footer__logo {
    font-size: 4rem; }
  .footer__description {
    font-size: 1.6rem; }
  .footer__second-details {
    font-size: 1.6rem; }
  .footer__third-details {
    font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.header {
  height: 50vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/food4.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__menu-box {
    position: absolute;
    top: 2rem;
    width: 100%;
    padding: 0 2rem; }
  .header__logo {
    font-size: 3.5rem;
    display: inline-block; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

#min-header {
  height: 20vh; }

.navigation {
  display: none; }
  .navigation__checkbox {
    display: none; }
  @media (max-width: 56.25em) {
    .navigation {
      display: block; } }
  .navigation__button {
    background-color: #ffffff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media (max-width: 75em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media (max-width: 37.5em) {
      .navigation__button {
        height: 5rem;
        width: 5rem;
        top: 3rem;
        right: 2.3rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (max-width: 75em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        height: 4rem;
        width: 4rem;
        top: 3.5rem;
        right: 2.8rem; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    margin-left: -40rem;
    opacity: 1;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 220%;
    transition: all 0.4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100); }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1;
    margin-left: 0; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    @media (max-width: 37.5em) {
      .navigation__icon {
        margin-top: 2.4rem; } }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #777777;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::after {
      top: 0.8rem; }
    .navigation__icon::before {
      top: -0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.navbar {
  float: right;
  margin-top: 2rem;
  display: block; }
  @media (max-width: 56.25em) {
    .navbar {
      display: none; } }
  .navbar__list {
    list-style: none; }
  .navbar__item {
    display: inline-block; }
  .navbar__link:link, .navbar__link:visited {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 0.7rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 220%;
    transition: all 0.4s; }
  .navbar__link:hover, .navbar__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }

.section-motd, .section-meals, .section-order {
  background-color: #e6e4e4;
  padding: 3rem 2rem; }
