.footer {
  min-height: 25rem;
  background-color: $color-black-2;

  &__box {
    padding: 7rem 0 0 3rem;
    color: $color-grey-light-3;
  }

  &__logo {
    font-size: 4rem;
  }

  &__description {
    font-size: 1.6rem;
  }

  &__second-details {
    font-size: 1.6rem;
  }

  &__third-details {
    font-size: 1.6rem;
  }
}