.cart {

  &__heading {
    font-size: 4rem;
    text-align: center;
  }

  &__table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;

    tr {
      &:not(:last-child) {
        border-bottom: .2rem solid $color-grey-light-3;
      }
    }

    th {
      font-size: 2rem;
      text-align: left;
      padding: 2rem;
    }

    td {
      height: 20rem;
      width: 30%;
      padding: 2rem;
    }

    &-image {
      height: 100%;
      width: 100%;
      max-width: 30rem;
      padding: 1rem;
      border: .2rem solid $color-grey-light-3;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-price {
      font-size: 1.8rem;
      font-weight: 800;
    }
  }

  &__btn {
    height: 6rem;
    padding: 1rem 2rem;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    text-align: center;

    &-edit {
      background-color: $color-secondary-light;
      margin-bottom: 1rem;
    }

    &-delete {
      background-color: #d84545;
      margin-bottom: 1rem;
    }
  }
}