.order {

  &__photo {

    &-main {
      width: 100%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
      border-radius: .2rem;
      transition: all .2s;
      outline-offset: 1rem;

      &:hover {
        outline: 1rem solid $color-primary;
        transform: scale(1.05) translateY(-.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      }
    }
  }

  &__text-box {
    padding: 4rem 0 0 3rem;
  }

  &__description-box {
    border: .2rem solid rgba($color-grey-light-3, .2);
    padding: 1rem;
  }

  &__description {
    height: 4rem;
    background-color: $color-grey-dark;
    color: $color-white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    &-details {
      font-size: $default-font-size;
    }

    &-ingredients {
      padding-top: 1rem;
      font-size: $default-font-size;
    }
  }
}